<%= render "shared/header" %>

<div class="contents row">
  <% if user_signed_in? && @user == current_user %>
    <h1>＜<%= @user.nickname %>さんのマイページ＞</h1>
  <% else %>
    <h1>＜<%= @user.nickname %>さんのユーザーページ＞</h1>
  <% end %>
  <div class='item-contents'>
    <div class="subtitle" >
      商品一覧
    </div>
    <ul class='item-lists'>
    <% if @items.present? %>
      <% @items.each do |item| %>
      <li class='list'>
        <%= link_to item_path(item.id) do %>
        <div class='item-img-content'>
          <%= image_tag item.image, class: "item-img" %>
          <% if item.purchase %>
          <div class='sold-out'>
            <span>Sold Out!!</span>
          </div>
          <% end %>
        </div>
        <div class='item-info'>
          <h2 class='item-name'>
            <%= item.product %>
          </h2>
          <div class='item-price'>
            <span><%= item.price %>円<br><%= item.delivery_charge.name %></span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
      <% end %>
    <% end %>
    </ul>
  </div>
</div>

<%= render "shared/footer" %>