<%= render "shared/header" %>

<div class="contents row">
  <% if user_signed_in? && @user == current_user %>
    <h1>＜<%= @user.nickname %>さんのマイページ＞</h1>
    <div class="link-area">
      <%= link_to "プロフィール編集", edit_user_registration_path(current_user) %>
    </div>
  <% else %>
    <h1>＜<%= @user.nickname %>さんのユーザーページ＞</h1>
  <% end %>
  <div class="profile">
    <div class="subtitle" >プロフィール</div>
    <h2><%= @user.profile %></h2>
  </div>
  <div class='item-contents'>
    <div class="subtitle" >
      商品一覧
    </div>
    <ul class='item-lists'>
    <% if @items.present? %>
      <% @items.each do |item| %>
        <%= render partial: "items/item", locals: {item: item} %>
      <% end %>
    <% end %>
    </ul>
  </div>
</div>

<%= render "shared/footer" %>